<h1>Listing interview_sessions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interview_sessions.each do |interview_session| %>
  <tr>
    <td><%= link_to 'Show', interview_session %></td>
    <td><%= link_to 'Edit', edit_interview_session_path(interview_session) %></td>
    <td><%= link_to 'Destroy', interview_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interview session', new_interview_session_path %>
