<head>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
	<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
	<meta charset=utf-8 />
</head>

<body>
	<div class="title-bar">
		<div class="input-holder">
			<form>
    		<div class="email-input">Email: <input type="text" name="email"></div>
			<div class="pass-input">Password: <input type="text" name="password"></div>
			</form>
		</div>
  	</div>
</body>