<body>		
<div class="title-bar">

	<div style="
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 15px;
    font-family: cracked;"
    >
		crack/it
	</div>

<!-- # layouts/application.html.erb -->
<ul class="hmenu" style="color: black;">
  <%= render 'login/registration_items' %>
  <%= render 'login/login_items' %>
</ul>
<%= yield %>

</div>

</body>
