<body>		

<div class="title-bar">

<div>
	crack/it
</div>

<!-- # layouts/application.html.erb -->
<ul class="hmenu" style="color: black;">
  <%= render 'login/registration_items' %>
  <%= render 'login/login_items' %>
</ul>
<%= yield %>

</div>

</body>
