.title-bar{
  position: relative;
  background-color: #444;
  padding: 20px;
}

  #back-button{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: #0088cc;
  }

  #stop-experiment{
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }

.options-container{
  padding: 100px;
  text-align: center;
}

.view-reports-border{
  display: inline-block;
  border-style: solid;
  width: 300px;
  height: 300px;
  background-color: white;
  float: right;
  margin-right: 30px;
}

  .view-reports-pic{
    display: block;
    margin: auto;
    margin-top: 30px;
  }


.view-schedule-border{
  display: inline-block;
  border-style: solid;
  width: 400px;
  height: 300px;
  background-color: white;
  margin-right: 30px;
  margin-top: 30px;
}


.split-traffic-border{
  display: inline-blockl;
  border-style: solid;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-left: 30px;
}

  .split-traffic-pic{
    display: block;
    margin: auto;
    margin-top: 30px;
}