// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-bar { 
  background-color: purple;
  height: 100px; 
  font-weight: bold;
  font-size: 25px;
  color: black;

}

html
{
background-image:url('backgroundpic.png');
/*background-image:url('logo.png');*/
/*background-color:#cccccc;*/
}

#login{
	float: right;
}

li{
	list-style: none;
}

.logo-name{
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 15px;
}