// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-bar { 
  background-color: purple;
  height: 100px; 
  font-weight: bold;
  font-size: 25px;
  color: black;

}

/*body
{
background-image:url('backgroundpic.png');
background-repeat:no-repeat;
height: 100%;
z-index: -999;
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
}*/

#login{
	float: right;
}

li{
	list-style: none;
}

.logo-name{
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 15px;
}









