<div class="title-bar">

	<div style="
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 15px;
    font-family: cracked;"
    >
		crack/it

	  <a href="" class="btn btn-inverse btn-large" id="back-button" style="
    position: relative;
    float: left;
	">Back</a>	
	</div>

<body style="background-color: #f5f5f5;">
</body>

<div class="options-container">
    <div style="
    font-family: cracked;
    font-size: 40px;
    line-height: 1;
    "> 
        Welcome, Ready to crack your coding interview? </br>
        Schedule a day/time to practice...</br>
        Good Luck!
    <div>
 
   <div class="view-schedule-border">
         <a href=""> </a>
         <div>
                







          <div>
    </div>
</div>
