<div class="options-container">
   <div class="view-reports-border">
        <a href="{% url 'sem-reports' %}"> </a>
   </div>

     <div class="split-traffic-border">
         <a href="{% url 'sem-traffic-split' %}"> </a>
    </div>
</div>
